:root {
  /* ================================
     Colors - Brand
  ================================ */
  --color-brand-100: #f8769c;
  --color-brand-80: #f991b0;
  --color-brand-60: #fbadc4;
  --color-brand-40: #fcc8d7;
  --color-brand-20: #fee4eb;

  /* ================================
     Colors - Gray
  ================================ */
  --color-black: #171617;
  --color-gray-80: #464545;
  --color-gray-60: #747374;
  --color-gray-40: #a2a2a2;
  --color-gray-20: #d1d0d1;
  --color-gray-10: #eeeeee;
  --color-white: #fcfcfc;
}
