.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--color-gray-10);
  padding-top: 12px;
}

.chips {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 0 20px;
}

.chipSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 174px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid var(--color-brand-60);
  background-color: rgba(254, 228, 235, 0.3);
  font-size: var(--font-b7-size);
  font-weight: var(--font-b7-weight);
  color: var(--color-brand-80);
  white-space: nowrap;
}

.chipDefault {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 174px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-20);
  background-color: var(--color-white);
  font-size: var(--font-b8-size);
  font-weight: var(--font-b8-weight);
  color: var(--color-gray-40);
  white-space: nowrap;
}

.reserveWrapper {
  padding: 10px 20px 20px;
}

.reserveBtn {
  width: 100%;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-brand-100);
  color: var(--color-white);
  font-size: var(--font-b3-size);
  font-weight: var(--font-b3-weight);
  line-height: var(--font-b3-line-height);
  cursor: pointer;
}
