.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.default {
  background-color: transparent;
}

.active {
  background-color: var(--color-brand-20);
}
